.ref{
  font: normal normal 12px/18px Consolas, Monaco, Andale Mono, Courier New, monospace;  
  color: #333;
}

/* reset default styles for these elements */
.ref i,
.ref b,
.ref q,
.ref u,
.ref a,
.ref label,
.ref dl,
.ref dt,
.ref dd
.ref h4{
  font-style: normal;  
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* no quotes on Q */
.ref q:after,
.ref q:before{
  content: '';
  display: none; /* FF fix */
}

.ref > div{
  background: #f9f9f9;        
  border: 1px solid #eee;
  border-radius: 0 0 4px 4px;
  padding: 2px 5px;  
  margin: 0 0 4px;
  text-shadow: 0 1px 0 #fff;
}

/* links */
.ref a{
  color: inherit;
  border-bottom: 1px dotted transparent;
  border-color: inherit;
}

/* tooltip; note that the js overrides top/left properties, this is why we use margin  */
#rTip{
  display: none;  
  position: absolute;
  z-index: 101;  
  font-size: 12px;
  white-space: pre;  
  text-align: left;  
  text-shadow: 0 -1px 0 #191919;  
  line-height: 16px;
  background: #222;
  color: #888;         
  border: 0;  
  border-radius: 4px;
  opacity: 0.90;
  box-shadow:0 0 4px rgba(0,0,0, 0.25);  
  -webkit-transition: opacity .25s, margin .25s;
     -moz-transition: opacity .25s, margin .25s;
      -ie-transition: opacity .25s, margin .25s;
          transition: opacity .25s, margin .25s;
}

#rTip.visible{
  display: block;
  margin: 10px 0 0 15px;  
}

#rTip.visible.fadingOut{
  opacity: 0;
  margin: 20px 0 0 25px;
}

#rTip > i{
  float: left;
}

#rTip > i > i{
  padding: 0 10px 10px 10px;
  display: block;
}

#rTip > i > i:first-child{
  color: #ccc;  
  padding-top: 10px;
}

#rTip > b{
  float: left;
  position: relative;
  padding: 10px;
  background: #333;
  box-shadow: inset -1px 0 0 #444;    
  border-right:1px solid #111;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;  
  min-height: 100%;  
}

#rTip > u{
  display: block;
  clear: both;
  padding: 8px 10px 10px 10px;
  background: #333;
  box-shadow: inset 0 1px 0 #444;    
  border-top:1px solid #111;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

#rTip > u > i{
  display: table-row;
}

#rTip > u > i > b{
  display: table-cell;
  padding: 2px 10px 2px 0;
  color: #ccc;
}

#rTip > u > i > b:first-child{
  font: bold 11px Helvetica, Arial;   
  color: #888;
}

#rTip > u > i > b:nth-child(2){
  color: #edd078;
}

#rTip > u > u{
  font: bold 11px Helvetica, Arial;     
  display: block;  
  margin-top: 5px;
  padding: 5px 0;
}

#rTip > u > i + u{
  border-top:1px dotted #666;
}

#rTip > u > u > b{
  font-weight: bold;  
  color: #ccc;
}

/* source expression */
.ref .rExp{
  margin: 2px 0 0;
  padding: 2px 7px 3px 4px;
  display: block;
  color: #ccc;
  background-color: #333;
  background-image: -moz-linear-gradient(top, #444, #333);
  background-image: -ms-linear-gradient(top, #444, #333);
  background-image: -webkit-linear-gradient(top, #444, #333);
  background-image: linear-gradient(top, #444, #333);  
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #fff;  
}

.ref input[type="checkbox"]{
  display: none;
}

/* expand/collapse toggle link for groups */
.ref label{  
  width: 14px;
  height: 14px;        
  display: inline-block;              
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAOCAYAAAAWo42rAAAAYklEQVQoz2M4xWCwBIgFgJgBHwYR/4H4ARA7EqMQhP8CcTcQsxNSCMMXgViXGIUg/AOIi4CYkZBCGN4HxLLEKAThd0AcRazCSEIK9xKymijPgIJHh1CAdxEKcKKicDExiQIAaIvOXmRns2sAAAAASUVORK5CYII=) no-repeat center bottom;        
  vertical-align: -3px;
  cursor: pointer;
  -webkit-transition: all ease-in .15s;  
     -moz-transition: all ease-in .15s;     
      -ms-transition: all ease-in .15s;          
          transition: all ease-in .15s;    
}

/* collapse graphic */
.ref input:checked + label{
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);       
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);  
}


.ref > div{
  position: relative;
}

/* hide next element when checkbox is not checked */
.ref input ~ label + div{
  display: none;
  overflow: auto;      
}

/* show it when checkbox is checked */
.ref input:checked ~ label + div{
  display: block;
}

/* group sections */
.ref section{
  display: table;
  width: 100%;
}

/* section titles */
.ref h4{
  font: bold 11px Helvetica, Arial;
  color: #bcbcbc;
  text-transform: lowercase;
  border-bottom: 1px dotted #ccc;
  display: inline-block;
  margin: 7px 0 5px 10px;
}

/* emulate a table for displaying array & object members */
/* section row */
.ref dl{
  display: table-row;
}

/* section cells */
.ref dt,
.ref dd{
  display: table-cell;
  vertical-align: top;
  padding: 1px 0 1px 10px;
}

/* last cell of a row (forces table to adjust width like we want to) */
.ref dd{
  width: 100%;
}

/* zebra */
.ref dl:nth-child(odd){
  background: #f4f4f4;
}

.ref section dl:nth-child(even){
  background: #f9f9f9;
}

/* base entity */
.ref i{
  white-space: pre;
  display: inline;
}

/* hidden content (used to generate the tooltip */
.ref q{
  display: none;  
}

/* show help cursor when mouse is over an entity with a tooltip */
.ref .rHasTip{
  cursor: help;
}

/* key-value dividers, property & method modifiers etc. */
.ref .rSep{
  color: #bbb;
}

/* tag-like appearance for boolean, null and resource types */
.ref .rTrue,
.ref .rFalse,
.ref .rNull,
.ref .rResource,
.ref .rStrMatch{
  font: bold 11px Helvetica, Arial; 
  color: #fff;        
  padding: 1px 3px;
  text-transform: lowercase;
  text-shadow: none;
  border-radius: 2px;        
  margin-right: 5px;
  background-color: #eee;  
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 40%,rgba(0,0,0,0.1) 100%);  
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0.1) 40%, rgba(0,0,0,0.1) 100%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,0.1) 40%,rgba(0,0,0,0.1) 100%);
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.1) 40%,rgba(0,0,0,0.1) 100%);
}

.ref .rIndex{
  color: #ccc;  
}

/* regular expression (colors partially match RegexBuddy and RegexPal) */
.ref .rStrRegex{
  background: #e6e6e6;
  padding: 0 2px;
  border-radius: 2px;
  word-wrap: break-word;
}

.ref .rStrRegex i, .ref .rStrRegex u, .ref .rStrRegex b{
  font-weight: bold;
  text-shadow: none;
}


/* char class */
.ref .rStrRegex i{
  background: #ffc080;
  color: #694c07;
}

.ref .rStrRegex i i{background: #e0a060;} /* char class: metasequence */
.ref .rStrRegex i u{background: #ffcf9b;} /* char class: range-hyphen */

/* metasequence */
.ref .rStrRegex b{
  background: #80c0ff;
  color: #105f8c;
} 

/* group: depth 1 */
.ref .rStrRegex .g1{
  background: #00c000;
  color: #fff;
}

/* group: depth 2 */
.ref .rStrRegex .g2{
  background: #c3e86c;
  color: #648c1c;
}

/* group: depth 3 */
.ref .rStrRegex .g3{
  background: #008000;
  color: #fff;
}

/* group: depth 4 */
.ref .rStrRegex .g4{
  background: #6dcb99;
  color: #fff;
}

/* group: depth 5 */
.ref .rStrRegex .g5{
  background: #00ff00;
  color: #2c8e24;
}



/* boolean true */
.ref .rTrue{
  background-color: #339900;
}

/* boolean false */
.ref .rFalse{
  background-color: #CC0033;
  color: #fff;
}   

/* null value */
.ref .rNull{
  background-color: #eee;
  color: #999;
  text-shadow: inherit;
}

/* resources */
.ref .rResource{
  background-color: #0057ae;
}   

.ref .rResourceInfo{  
  font: bold 11px Helvetica, Arial;   
  color: #999;
}

/* string matches */
.ref .rStrMatch{
  background-color: #d78035;
  margin-right: 0;
}

/* integer or double values */
.ref .rInteger,
.ref .rDouble{
  color: #0099CC;
}   

/* string values */
.ref .rString{
  color: #669933;  
}

/* arrays & objects */
.ref .rGroup,
.ref .rArray,
.ref .rObject,
.ref .rInterface,
.ref .rTrait{
  color:#CC0033;
}

.ref .rInherited .rProperty{
  color: #999;
}

.ref .rMethod{
  font-weight: bold;
  color: #0057ae;
}

/* inherited methods */
.ref .rInherited .rMethod{
  color: #6da5de;
}

/* optional method arguments */
.ref .rOptional > *{
  font-style: italic;
  color: #aaa;
}

/* group info prefix */
.ref .rGroup > b{
  font: bold 11px Helvetica, Arial;  
  padding: 0 3px;
  color: #333;
}

/* tiny bubbles that indicate visibility info or class features */
.ref .rFinal,
.ref .rAbstract,
.ref .rProtected,
.ref .rIterateable,
.ref .rCloneable{
  font: bold 11px Helvetica, Arial;    
  display: inline-block;  
  margin: 0 2px;  
  width: 14px;
  height: 14px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: none;
  line-height: 15px;
  border-radius: 30px;
  background: #78bded;  
  color:#fff;          
}

.ref .rAbstract{
  background: #baed78;
}

.ref .rProtected{
  background: #edd078;
}

.ref .rIterateable{
  background: #d5dea5;
}

.ref .rCloneable{
  background: #bdd7d1;
}
